.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-secondary);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
}

.fullScreen {
  height: 100dvh;
  justify-content: space-between;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.title {
  font-size: 28px;
  font-weight: 400;
}

.subtitle {
  font-size: 18px;
  font-weight: 200;
  color: var(--text-secondary);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logoBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .settings {
    cursor: pointer;
    transition: 0.3s transform ease-in-out;
  }

  .settings:hover {
    transform: rotate(90deg);
  }
}
