.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background-color: var(--background-secondary);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  width: 100%;
}

.fullScreen {
  height: 100dvh;
  justify-content: space-between;
}

.title {
  font-size: 28px;
  font-weight: 400;
}

.subtitle {
  font-size: 18px;
  font-weight: 200;
  color: var(--text-secondary);
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.logoBox {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
