.root {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 20px;
}

.date {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 200;
  color: var(--text-secondary);
}

.entryGroup {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.entry {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
}
