:root {
  --background: #d9d9d9;
  --background-color: rgba(188, 206, 236, 0.1);
  --background-secondary: #ece2df;
  --text: #171717;
  --text-secondary: #928a84;
  --accent-satisfaction: #919c62;
  --accent-happy: #e8d384;
  --accent-good: #7da4db;
  --accent-upset: #a6acdc;
  --accent-furious: #e1927f;
  --accent-depressed: #825e4c;
  --white: #ffffff;
}
