.root {
  border-radius: 60px;
  padding: 20px;
  background-color: rgba(176, 144, 140, 0.3);
  width: 100%;
  border: none;
  font-weight: 600;
}

.root:focus-visible {
  outline: 1px solid rgba(176, 144, 140, 1);
}

.root::placeholder {
  color: var(--text-secondary);
}
