:root {
  --accent-happy: #e8d384;
  --accent-satisfaction: #87ceeb;
  --accent-good: #32cd32;
  --accent-furious: #ff4500;
  --accent-upset: #1e90ff;
  --accent-depressed: #6a5acd;
  --white: #ffffff;
}
