.root {
  padding: 20px;
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: flex-start;
  transition: opacity 0.3s ease-in;
  border-radius: 30px;
  background-color: var(--white);
}

.root.open {
  outline: 2px solid var(--text);
  outline-offset: -2px;
}

.root.Happy {
  background-color: var(--accent-happy);
}

.root.Satisfied {
  background-color: var(--accent-satisfaction);
}

.root.Good {
  background-color: var(--accent-good);
}

.root.Furious {
  background-color: var(--accent-furious);
}

.root.Upset {
  background-color: var(--accent-upset);
}

.root.Depressed {
  background-color: var(--accent-depressed);
}

.root:active {
  opacity: 0.8;
}

.info {
  flex: 1;
  min-width: 0;
}

.title {
  font-size: 20px;
  margin-bottom: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 600;
}

.text {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-height: 200px;
}

.root.open .text {
  white-space: normal;
  overflow-y: scroll;
}

.mood {
  width: 55px;
  height: 55px;
  border-radius: 100%;
  flex-shrink: 0;
  border: 2px solid var(--text);
}

.root.Upset .mood {
  background-image: url("../../../../public/upset.svg");
  background-position: center;
}

.root.Happy .mood {
  background-image: url("../../../../public/happy.svg");
  background-position: center;
}

.root.Satisfied .mood {
  background-image: url("../../../../public/satisfied.svg");
  background-position: center;
}

.root.Depressed .mood {
  background-image: url("../../../../public/depressed.svg");
  background-position: center;
}

.root.Furious .mood {
  background-image: url("../../../../public/furious.svg");
  background-position: center;
}

.root.Good .mood {
  background-image: url("../../../../public/good.svg");
  background-position: center;
}
